---
const { nombre, descripcion, imagen, slug, medidas } = Astro.props;
---
<div class={`w-full flex flex-row justify-around items-center`}>
  <div class={`w-[500px] h-[500px] flex justify-center items-center shadow-2xl border-product-2 bg-gray-300`}>
    <img src={imagen} alt={nombre} class="w-[450px] h-auto">
  </div>
  <div class="flex flex-col items-center justify-center">
    <h2 class="text-black text-5xl text-center">{nombre}</h2>
    <p class="text-gray-500 font-serif py-4">{descripcion}</p>
    <p class="text-red-700 font-serif">Medidas: {medidas}</p>
  </div>
</div>
